body,span,p{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}
.bgcgray{
    background-color: #EDF2F5;
}

img{
    max-width: 100%;
}
.main-header .container-fluid .slider-section .container-fluid{
    max-width: 1460px;
}

/* main manu css */
ul.main-manu{
    list-style: none;
}
ul.main-manu li a {
    display: inline-block;
    padding: 13px 22px;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 18px;
    transition: all .4s;
}
ul.main-manu li a span {
    display: inline-block;
    font-size: 12px;
    padding: 0 2px;
}
ul.main-manu li:hover>a{
    color: #E73C3E;
}
ul.main-manu li{
    position: relative;
}
ul.main-manu li ul {
    position: absolute;
    left: 0;
    top: 125%;
    list-style: none;
    padding: 0;
    background: #ffffff;
    width: 210px;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

    transition: all .4s linear;

    opacity: 0;
    visibility: hidden;
}
ul.main-manu li ul li{
    display: block;
}
ul.main-manu li ul li a{
    display:block;
}

ul.main-manu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.search {
    width: 40px;
    text-align: center;
    border-right: 1px solid #DADADA;
}
.search a {
    font-size: 25px;
    color: black;
}
.header-call{
    width: 200px;
}
.header-call-icon {
    width: 50px;
    /* height: 31px; */
    text-align: center;
    color: #E83B3E;
    font-size: 31px;
}
.header-call-info span {
    color: #606060;
    font-size: 20px;
}
.header-call-info a{
    text-decoration: none;
    color: black;
}
body .btn-outline-primary{
    padding: 10px 33px;
    background: #E83B3E !important;
    color: #ffffff;
    border: none;
    position: relative;
    z-index: 1;
}
body .btn-outline-primary::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 0%;
    background-color:black;
    z-index: -1;

    transition:.4s;
}
body .btn-outline-primary:hover::after{
    height: 100%;
}
/* slider section */

.slider-section{
    background: url(https://i.ibb.co/khMfhnG/main-banner2.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    
}
.slider-section-wrap {
    height: 90vh;
    display: flex;
    align-items: center;
}
.slider-contant{
    position: relative;
}
.slider-contant h6 {
    font-size: 18px;
    color: #E83B3E;
    margin-bottom: 27px;
    margin-top: 60px;
}
.slider-contant h1{
    font-size: 60px;
}
.slider-contant p{
    font-size: 18px;
    margin-bottom: 33px;
}
.social-menu{
    /* margin-top: 100px; */
    position: absolute;
    bottom: 20px;
    left: 0;

}
.social-menu::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 109px;
    height: 1px;
    width: 40px;
    background-color: black;
}
.social-menu ul li span {
    display: inline-block;
    margin-right: 56px;
}
.social-menu ul{
    list-style: none;
}
.social-menu ul li{
    padding-left: 0;
}
.social-menu ul li a {
    padding: 0 10px;
    display: inline-block;
    color: #111;
}
/* logo section */
.client-logo{
    border-bottom:1px solid #e5e5e5;
}
.client-logo ul{
    list-style: none;
    padding-left: 0;
}
.client-logo ul li a{
    text-decoration: none;
    display: inline-block;
}
/* about section */
.about-image{
    position: relative;
}
.about-text {
    background: url(img/shape.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 62%;
    left: 66%;
    bottom: 0;
    right: 0;
}
.about-text h1 {
    font-size: 60px;
    color: #E83B3E;
}
.about-text h5 {
    font-size: 17px;
}
.finix-text{}
.finix-text h6 {
    font-size: 18px;
    color: #E83B3E;
    margin-bottom: 15px;
}
.finix-text h3 {
    font-size:40px;
    font-weight: 400;
    margin-bottom: 15px;
}
.finix-text p {
    line-height: 27px;
    font-size: 18px;
}
.finix-text strong {
    color: #606060;
    font-weight: 400;
    font-size: 20px;
}
.finix-text ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}
.finix-text ul li{
    padding: 4px 0;
}
.finix-text ul li::before {
    content: "\f00c";
    font-family: 'font Awesome 5 free';
    font-weight: 600;
    color: #E73C3E;
    display: inline-block;
    font-size: 23px;
    margin-right: 10px;
}
/* why-choose us section */
.why-choose-image{
    margin-top: 40px;
    position: relative;
}
.why-choose-image .play-animation-btn{
    display: inline-block;
    color: #E83B3E;
    font-size:36px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: 66%;
    left: 44%;
}

.why-choose-image .play-animation-btn::before{
    content: "";
    width:90px;
    height:90px;
    background-color: #E83B3E;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation:play-btn 1.5s ease-out infinite ;
}
@keyframes play-btn{
    0%,30%{
        transform: scale(1);
        opacity: 0;
    }
    50%{
        transform: scale(1.4);
        opacity: .6;
    }
    75%{
        transform: scale(1.6);
        opacity: .4;
    }
    100%{
        transform: scale(1.8);
        opacity: 0;
    }
}
.choose-items{
    padding: 30px;
    margin-bottom: 30px;
    background: #fff;
    position: relative;
    overflow: hidden;
    transition: .5s;
}
.choose-items:hover{
    transform: translateY(-10px);
}
.choose-items::before {
    content: "";
    position: absolute;
    top: -140px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 70%;
    background: #FDEBEB;
    border-radius: 50%;
}
.choose-items .w-c-icon i{
    color: #E83B3E;
    width: 90px;
    height: 90px;
    background: #fff;
    line-height: 90px;
    font-size: 36px;
    border-radius: 50%;
    position: relative;
    transition: .5s;
}
.choose-items:hover .w-c-icon i{
    color: #fff;
    background: #E83B3E;
}
.margin-top{
    margin-top: -30px;
}
/* Funding circles section */

.Funding-circles-title{
    background-color: #fff;
}
.finix-text .finixsH3 {
    font-size: 30px;
}
/* Funding circles */
.customcl {
    padding: 15px 0;
    font-size: 22px;
}
.Funding-circles{
    background-color: #fff;
}
.Funding-circles-item-left{
    margin-top: 33px;
}
.Funding-circles-item-left h3 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 26px;
}
.number-counter ul {
    list-style: none;
    position: relative;
    padding-left: 57px;
}
.number-counter ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 28px;
    width: 1px;
    height: calc(100% - 100px);
    background: #E83B3E;
}
.number-counter ul li{
    position: relative;
}
.number-counter ul li::before {
    content: attr(dada-number);
    color: #E83B3E;
    position: absolute;
    top: 0;
    left: -51px;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid #E83B3E;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.number-counter ul li h4 {
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
}
.number-counter ul li p {
    margin-bottom: 0;
    color: #606060;
    font-size: 16px;
    padding: 15px 0;
}
.form-cal {
    background: #FDEBEB;
    padding: 52px 50px;
}
.form-cal label {
    padding: 12px 3px;
    font-size: 20px;
}
.form-cal input {
    padding: 15px 11px;
    border: none;
}
.form-cal select {
    height: 55px;
    border: none;
}
/* call action section */
.call-action-item {
    background: #E83B3E;
    padding: 60px 40px;
}
.call-action-item h1 {
    font-size: 39px;
    font-weight: 400;
    color: #fff;
}
.c-icon {
    display: inline-block;
    font-size: 44px;
    color: #E83B3E;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    margin-top: -7px;
}
.bright{
    border-right: 1px solid #ddd;
}
.call-action-items{
    margin-top: 30px;
    margin-left: 40px;
}
.ct-tel a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    margin-left: 16px;
}

/* our company values section */
.company-values-title{}
.company-values-title h1 {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 43px;
}
.company-icon-left{}
.company-icon-left i {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 55px;
    color: #E73C3E;
}
.company-text-right {
    margin-left: 20px;
}
.company-text-right h2 {
    font-size: 30px;
    font-weight: 400;
}
.company-text-right p {
    font-size: 16px;
    color: #606060;
    font-weight: 400;
}
.company-img img{
    margin-top: 50px;
}

/* professional services */
.services-item ul{
    border-bottom:1px solid #ddd;
}
.services-item ul li a {
    position: relative;
    margin-right: 13px;
}
.services-item ul li a.active::after{
    content: "";
    position: absolute;
    top: 132px;
    left: 0;
    width:100%;
    height: 1px;
    background-color: #E11010;
    border-bottom: 1px solid #E11010;
}
.services-item ul li a span i{
    font-size: 30px;
    color: #212529;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #fff;
    border-radius: 50%;
    transition: .5s;
}
.services-item ul li a strong {
    font-size: 25px;
    font-weight: 600;
    color: #212529;
}
.services-item ul li a.active i{
    color:#E11010;
}
.p-s-text ul{
    list-style: none;
    border: none !important;
}
.p-s-text ul li{
    position: relative;
}
.p-s-text ul li::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 6px;
    left: -26px;
    border-radius: 50%;
    background: #E83B3E;
}

/* Clients words */

.client-p p {
    margin-top: 26px;
    font-size: 26px;
    line-height: 44px;
}
.client-p h3 {
    color: #FF0303;
    font-size: 30px;
    font-weight: 500;
}
.client-p h6{
    color: #606060;
}
/* expert people items */
.expert-people-items img{
    width: 100%;
    height: auto;
}
.expert-people-items {
    position: relative;
    margin-bottom: 23px;
}
.team-profile-social-icon {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
}
.team-profile-social-icon ul {
    list-style: none;
    padding-left: 0;
}
.team-profile-social-icon ul li{
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-out;
    transform: translateY(50px);
}
.expert-people-items:hover .team-profile-social-icon ul li{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.expert-people-items .team-profile-social-icon ul li:nth-child(1){
    transition-delay: .1s;
}
.expert-people-items .team-profile-social-icon ul li:nth-child(2){
    transition-delay: .2s;
}
.expert-people-items .team-profile-social-icon ul li:nth-child(3){
    transition-delay: .3s;
}
.expert-people-items .team-profile-social-icon ul li:nth-child(4){
    transition-delay: .4s;
}

.team-profile-social-icon ul li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    color: #111111;
    transition: 0.4s;
}
.team-profile-social-icon ul li a:hover{
    color: #EDF2F5;
    background: #E73C3E;
}

.team-profile-name{
    
}
.team-profile-name h3 {
    color: #e73c3e;
    margin-bottom: 8px;
}
.team-profile-name h6{
    color: #606060;
}

/* Success storys posts */
.success-story-item{}
.success-story-item img{
    width: 100%;
    height: auto;
}
.success-content{}
.success-content span {
    display: inline-block;
    color: #E83B3E;
}
.success-content h3 a {
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    color: #111111;
    transition: .4s;
}
.success-content h3 a:hover{
    color: #E73C3E;
}
.success-content p a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #111111;
    transition: .4s;
}
.success-story-item:hover .success-content p a{
    color: #E73C3E;
    letter-spacing: 2px;
}
/* Finix Footer Area */
.finix-footer-area{
    background: #111111;
}
.footer-item a{
    display: inline-block;
    text-decoration: none;
}
.footer-item a img{
    width: 100%;
    height: auto;
}
.footer-item p {
    font-size: 18px;
    color: #ffffff;
    margin-top: 23px;
    line-height: 32px;
}
.footer-item ul{
    list-style: none;
    padding-left: 0;
}
.footer-item ul li{
    display: inline-block;
    color: #ffffff;
}
.footer-item ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    color: #ffffff;
    transition: .4s;
}
.footer-item ul li a:hover{
    color: #E73C3E;
}

.footer-title{}
.footer-title h3 {
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid #333535;
}
.footer-title ul{}
.footer-title ul li {
    display: block;
    line-height: 40px;
}
.footer-title ul li a {
    display: block;
    font-size: 18px;
    color: #ffffff;
    transition: .4s;
}
.footer-title ul li a:hover{
    letter-spacing: 1px;
    color: #E11010;
}
.contact-item{}
.contact-icon {
    margin-bottom:22px;
}
.contact-icon span {
    display: block;
    color: #fff;
    width: 37px;
    height: 37px;
    font-size: 23px;
}
.contact-adrass{}
.contact-adrass p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 15px;
}
.contact-adrass a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: block;
    transition: .4s;
}
.contact-adrass a:hover{
    color: #E73C3E;
}

.footer-bottum {
    border-top: 1px solid #353535;
    padding-top: 23px;
}
.footer-bottum p{
    color: #606060;
}
.footer-bottum p a{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    transition: .4s;
}
.footer-bottum p a:hover{
    color: #E73C3E;
}

